body {
    background-color: #eee;
}

.flag {
    position: relative;
    width: 300px;
    margin: 100px auto;
}

.stripe {
    width: 300px;
    height: 60px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: gold;
}

.pole {
    position: absolute;
    width: 6px;
    height: 500px;
    background-color: #777;
    left: -18px;
    top: -70px;
}

.top {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: gold;
    border-radius: 80%;
    top: -80px;
    left: -22px;
}

.base {
    position: absolute;
    width: 20px;
    height: 6px;
    background-color: #444;
    bottom: -220px;
    left: -25px;
}

.grass {
    position: absolute;
    width: 350px;
    height: 30px;
    background-color: #3cb043;
    bottom: -250px;
    left: -25px;
}
