* {
    box-sizing: border-box;
}


.rectangle {
    height: 60px;
    width: 300px;
    background: blue;
    margin: 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.click {
    position: absolute;
    top: 50px;
    left: 50px;
}


.keydown {
    position: absolute;
    left: 50px;
    bottom: 50px;
}


.hover {
    position: absolute;
    top: 50px;
    right: 50px;
}


.dbclick {
    position: absolute;
    bottom: 50px;
    right: 50px;
}


.start {
    animation: spin 1s linear infinite;
}


.fade {
    opacity: 0;
    transition: opacity 1s linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

