@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
}

.nav {
    position: fixed;
    background: #222222;
    top: 0;
    left: 0;
    right: 0;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 7px 15px;
}

.nav a:hover {
    font-weight: bold;
    color: #c0392b;
}

/* .nav a:current {
    font-weight: bold;
    color: #c0392b;
}
*/
.hero
