*{
    box-sizing: border-box;
}

body {
    Background: Red;
    height: 100vh;
    display: flex;
    align-items: center;
    Justify-content: center;
    margin: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: blue
}
.box {
    background: red;
    border: 0;
    cursor: pointer;
    height: 70px;
    width: 55px;
    position: center;
}
.redblue.active .input {
    width: 400px;
}
.redblue.active .btn {
    transform: translateX(800);
}

