
body {
    background: skyblue;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 200px;
}
.search {
    position: relative;
    height: 50px;
    background: red;
    height: 300px;
    width: 300px
}
.input:focus {
    outline: none;
}
.btn {
    background: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    height: 80px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}
