* {
    box sizing: border-box;
}

body {
    background: skyblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 25px;
    width: 25px;
    transition: width 3s ease;
}
.search {
    height: 50px;
    position: relative;
}
.input:focus {
    outline: none;
}
.btn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 0;
    font-size: 24px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 3s ease;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}
